.wrapper {
    position: relative;
}

.verticalLineLeft {
    position: absolute;
    top: -25px;
    left: 100px;
    height: 25px;
    width: 2px;
    background-color: grey;
}

.verticalLineRight {
    position: absolute;
    top: -25px;
    right: 100px;
    height: 25px;
    width: 2px;
    background-color: grey;
}

.inputField {
    margin-top: 5px;
}

.deleteIcon svg {
    position: absolute;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    right: 10px;
    top: 6px;
}